# Seedance CLI Environment
ACEDATACLOUD_API_TOKEN=your_api_token_here
# ACEDATACLOUD_API_BASE_URL=https://api.acedata.cloud
# SEEDANCE_DEFAULT_MODEL=doubao-seedance-1-0-pro-250528
# SEEDANCE_REQUEST_TIMEOUT=1800
